@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-slate-900 text-slate-100 antialiased;
}

/* small utilities */
.text-slate-850 { color: #0b1220; }
.bg-slate-850 { background-color: #0b1220; }
